#
# Logical Preferences generated for Lattice by Synplify map202303lat, Build 132R.
#

# Period Constraints 
#FREQUENCY NET "i_tx_dphy/u_dphy_tx/dci_wrapper_inst/byte_clk" 200.0 MHz;
#FREQUENCY PORT "pix_clk_i" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "pix_clk_i_c" TO CLKNET "i_tx_dphy/u_dphy_tx/dci_wrapper_inst/byte_clk";
#BLOCK PATH FROM CLKNET "i_tx_dphy/u_dphy_tx/dci_wrapper_inst/byte_clk" TO CLKNET "pix_clk_i_c";
#BLOCK PATH FROM CLKNET "pix_clk_i_c" TO CLKNET "i_tx_dphy/u_dphy_tx/dci_wrapper_inst/byte_clk";
#BLOCK PATH FROM CLKNET "i_tx_dphy/u_dphy_tx/dci_wrapper_inst/byte_clk" TO CLKNET "pix_clk_i_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
