BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led1" SITE "F2" ;
LOCATE COMP "led2" SITE "E2" ;
IOBUF PORT "led1" IO_TYPE=LVCMOS18 ;
IOBUF PORT "led2" IO_TYPE=LVCMOS18 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS18 ;
LOCATE COMP "reset" SITE "E9" ;
